{% extends 'base.html' %}
{% load humanize %}


{% block content %}
<h1 class='text-center pb-3'>Item Details</h1>
<div class='card'>
  <div class='card-header text-center'>
    <span class='fw-bold'>{{ item.name }}</span>
  </div>
  <div class='card-body'>
    <p class='card-text'>{{ item.description }}</p>
  </div>
  <div class='card-footer text-center text-muted'>
    <h6>Quantity: {{ item.quantity|intcomma }}</h6>
    <a href="{% url 'item_edit' item.pk %}">Edit</a> | <a href="{% url 'item_delete' item.pk %}">Delete</a>
  </div>
</div>
<br />
<p class='text-center'>View <a href="{% url 'item_list' %}">all items</a></p>
{% endblock content %}